@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
.avatar {
    border-radius: 100%;
    animation: spin 5s infinite linear; /* Customize these properties */
  }
  


